
@{
    ViewBag.Title = "index";
}

<ul>
    <li>@Html.ActionLink("English", "Change", "Home", new { LangAbbrev = "en" }, null) </li>
    <li>@Html.ActionLink("France", "Change", "Home", new { LangAbbrev = "fr" }, null)</li>
    <li>@Html.ActionLink("German", "Change", "Home", new { LangAbbrev = "de" }, null)</li>
</ul>
@using (Html.BeginForm("GetChoice", "Home", FormMethod.Get))
{

    <h3>@Date_Time_Application.resources.IndexTexts.Select_the_choice</h3>
    <select name="option">
        <option value="1">@Date_Time_Application.resources.IndexTexts.Subtract_2_Dates</option>
        <option value="2">@Date_Time_Application.resources.IndexTexts.Add_days_to_the_Date</option>
        <option value="3">@Date_Time_Application.resources.IndexTexts.Find_the_day_of_the_Week</option>
        <option value="4">@Date_Time_Application.resources.IndexTexts.Find_the_weeknumber</option>
        <option value="5">@Date_Time_Application.resources.IndexTexts.Translate_the_NLP</option>
    </select>
   
    <button type="submit">@Date_Time_Application.resources.IndexTexts.Submit</button>

}


