
@{
    ViewBag.Title = "index";
}
@using (Html.BeginForm("GetChoice", "Home", FormMethod.Get))
{

    <h3>@DateTimeCalcService.resources.IndexTexts.Select_the_choice</h3>
    <select Name="option" Id="option">
        <option value="1">@DateTimeCalcService.resources.IndexTexts.Subtract_2_Dates</option>
        <option value="2" >@DateTimeCalcService.resources.IndexTexts.Add_days_to_the_Date</option>
        <option value="3" >@DateTimeCalcService.resources.IndexTexts.Find_the_day_of_the_Week</option>
        <option value="4" >@DateTimeCalcService.resources.IndexTexts.Find_the_weeknumber</option>
        <option value="5" >@DateTimeCalcService.resources.IndexTexts.Translate_the_NLP</option>
    </select>

    <button type="submit" id="submit">@DateTimeCalcService.resources.IndexTexts.Submit</button>

}


